.btn-info {
    width: 50px;
    height: 50px;
    font-size: 21px;
}
.btn-lg {
    width: 100px;
}
.display input {
    height: 50px;
    margin-top: 20px;
    margin-bottom: 15px;
    position: relative;
    top: 2px;
    left: 2px;
    height: 35px;
    color: black;
    text-align: right;
    font-size: 21px;
}
.display {
    margin-top: 60px;
}
